.container-catalog {
    width: 100%;
    position: fixed;
    height: 100vh;
    padding: 0 60px 85px 60px;
    display: flex;
}

.header-white {
    border: none;
}

.generate-collection {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    background: #F4683F;
    color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.checkbox-collection {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 104px;
    right: 34px;
}


/* Кнопки филтров */

.filters-selections-link {
    margin-bottom: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #333333;
}

.filters-selections-link:hover {
    color: #F4683F;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 60px;
    border-bottom: 1px solid #a3a4ad;
}

.filters__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters__btn {
    font-family: 'Montserrat';
    padding: 14px 40px 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: max-content;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #C0C2D7;
    box-sizing: border-box;
    border-radius: 200px;
}

.filter-people {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px;
}

.filter-beds {
    padding: 10px;
    width: 121px;
    background: #FFFFFF;
    border: 1px solid #C0C2D7;
    border-radius: 200px
}

.filters__btn_mod {
    font-family: 'Montserrat';
    padding: 14px 20px 14px 20px;
    position: relative;
    margin-left: 15px;
    display: flex;
}

.filters__arrow-light::before,
.filters__arrow-light::after {
    content: '';
    z-index: 1;
    width: 9px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    right: 12px;
    border-radius: 8.5px;
}

.filters__arrow-light::after {
    transform: rotate(45deg);
    right: 18.5px;
}

.filters__arrow-light::before {
    transform: rotate(-45deg);
}

.btn-orange_filters {
    font-family: 'Montserrat';
    width: auto;
    padding: 12px 20px 12px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@media(max-width:1600px) {
    .filters__btn {
        font-size: 14px;
        font-family: 'Montserrat';
    }
    .btn-orange_filters {
        font-size: 14px;
        font-family: 'Montserrat';
    }
    .filters__btn_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-family: 'Montserrat';
    }
    .filters__btn_mobile {
        margin-left: 15px;
        padding: 9px;
        font-family: 'Montserrat';
    }
}


/* Каталог-карточка*/

.catalog-wrapper {
    padding-right: 15px;
    width: 120%;
    height: 100%;
    overflow-y: scroll;
}

.card {
    background: none;
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgb(0 0 20 / 5%);
}

.catalog-like {
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 20px rgb(21 22 34 / 20%);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: all .5s ease;
}

.catalog-like.active {
    background: #fff;
    color: #F4683F;
    transform: scale(1.1);
}

.like-marker {
    display: none;
    z-index: 10;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    background-color: #F4683F;
    right: -3px;
    animation: pulse 2s ease-in-out infinite;
    transform: scale(10);
}

@keyframes pulse {
    from {
        transform: scale(.85);
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(.85);
    }
}

.like-marker_header {
    display: none;
    z-index: 10;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    background-color: #F4683F;
    right: -3px;
    top: 0px;
    animation: pulse 2s ease-in-out infinite;
    transform: scale(5);
}

.collection-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */
    color: #333333;
}

.collection-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #333333;
}

.card__img {
    overflow: hidden;
    position: relative;
    width: 470px;
    height: 300px;
}

.card__img img {
    object-fit: cover;
    width: 320px;
    height: 300px;
}

.card-description {
    width: 100%;
    position: relative;
    padding: 30px 30px 20px 40px;
    display: flex;
    flex-direction: column;
}

.card-description__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.number-of-people {
    border: 1px solid #C0C2D7;
    top: 30px;
    right: 30px;
}

.card__parameters {
    width: 100%;
}

.parameters {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #727488;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.prise__value {
    margin-top: 2px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.price__list {
    margin-bottom: 0;
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.price__list1 {
    width: 100%;
    display: flex;
}

.prise__value-data {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #333333;
    top: 150px;
    right: 40px;
    position: absolute;
}

.price__list2 {
    width: 100%;
    display: flex;
}

.price__list3 {
    display: flex;
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #333333;
}

.price__list_catalog {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #333333;
}

.card__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.show-map-btn {
    display: none;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid #C0C2D7;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.show-map-btn:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.card-info-btn {
    font-family: 'Montserrat';
    font-style: normal;
    background: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #F4683F;
    padding: 5px;
    width: 96px;
    height: 32px;
    right: 39px;
    bottom: 20px;
    background: #FFFFFF;
    border-radius: 200px;
    position: absolute;
}

.card-info-btn:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}


/* Карта */

.map {
    margin: 30px -50px 31px 15px;
    top: 90px;
    position: sticky;
    width: 80%;
    height: 72vh;
    border-radius: 20px;
    overflow: hidden;
}


/* Филььра для мобилки */

.pop-up_filters {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background: #FFFFFF;
    width: 100%;
    top: 0;
    right: -100%;
    padding: 20px 20px;
    transition: all 0.5s;
    overflow: auto;
    position: fixed;
}

.pop-up_filters.active {
    right: 0;
}

.pop-up_selections {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background: #FFFFFF;
    width: 100%;
    top: 0;
    right: -100%;
    padding: 20px 20px;
    transition: all 0.5s;
    overflow: auto;
    position: fixed;
}

.pop-up_selections.active {
    right: 0;
}

.filters-caption {
    margin-top: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */
    color: #333333;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.checkbox__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #000000;
}

.pop-up_filters-header {
    height: 55px;
    border-bottom: 1px solid #727488;
    margin: 0 -20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.filters-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #333333;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.filters-item label {
    margin-bottom: 11px;
}

.btn-reset {
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    /* active */
    color: #F4683F;
}

.btn-close-filters {
    background: none;
}

.btn-close-selections {
    background: none;
}

.orange-link-text {
    color: #F4683F;
}